.vscode

# Terraform
.terraform/
# Tf state and tf state backup
*.tfstate
*.tfstate.*
# User defined tfvars
vars.tfvars

# SSH keys generated via run.sh
id_key*

# Auto generated inventory
hosts.cfg

# User password file
password.txt

deployment/.env
deployment/pg.crt

nginx.configured.conf
nginx-broker.configured.conf

